RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.brianbi\.ca
RewriteRule ^(.*)$ http://brianbi.ca/$1 [R=permanent,L]
RewriteCond $1 !^(index\.php|images|css|files|robots\.txt|viewlink\.php)
RewriteRule ^(.*)$ /index.php?path=$1
